
.newsletter-form {
	form {
		display: flex;
	}

	&.wpforms-container-full .wpforms-form .wpforms-submit-container {
		padding: 0;
		
	}

	&.wpforms-container-full .wpforms-form .wpforms-field {
		padding: 0;
	}
	

	&.wpforms-container-full .wpforms-form .wpforms-field input[type="email"] {
		padding: 16px 24px;
		font-size: 16px;
		color: #666;
		outline: none;
		letter-spacing: 2px;
		border: none;
		border-bottom: 1px solid #dad8d8;
		flex-basis: 100%;
		font-style: italic;
		font-weight: 700;
	}

	&.wpforms-container-full .wpforms-form .wpforms-submit-container  button[type="submit"] {
		color: #fff;
		font-size: 17px;
		letter-spacing: 1px;
		padding: 14px 0;
		border: transparent;
		background: #292929;
		flex-basis: 30%;
		margin-left: -2em;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		transition: 0.5s all;
		cursor: pointer;
	}
}

